body {
    margin: 0;
    padding: 0;
    background: #120C3D;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,.8);
    overflow: hidden;
}

.browsehappy {
    margin: 0.2em 0;
    background: rgba(255,255,255,.8);
    color: #120C3D;
    padding: 0.2em 0;
}

#space{
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
}

#canvas{
    position:absolute;
}

.masthead {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0.67em;
    font-size: 20px;
    z-index: 3;
    transform: translateY(0);
    transition: .2s transform ease-out;
    pointer-events: none;
}

.s-show-modal .masthead {
    transform: translateY(-100%);
}

.logo {
    font-family: 'Merienda One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: .2em;
    text-align: center;
    background: -webkit-linear-gradient(#eee, #3C4968);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: translateY(100%);
    transition: .4s transform ease-in;
}

.s-show-modal .modal {
    transform: translateY(0);
}

.modal_shape {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 420px;
    background: linear-gradient(to bottom, #12285b 0%,#513766 100%);
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0 0 12px black;
}

.modal_shroud {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(6,1,56,0.8);
}

.s-show-modal .modal_shroud {
    display: block;
}

.modal_content {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
}

.s-show-start-modal .modal_content__start,
.s-show-end-modal .modal_content__end {
    display: block;
}

.msg_logo {
    margin: -120px 0 .85em;
    font-size: 24px;
}

.msg_share {
    margin: 0 0 1em;
    font-size: 16px;
    color: rgba(255,255,255,.8);
}

.msg_link,
.msg_link:active,
.msg_link:visited {
    position: relative;
    display: inline-block;
    border: 0;
    border-bottom: 1px dotted rgba(255,255,255,0.4);
    background: transparent;
    color: rgba(255,255,255,.8);
    font-size: 17px;
    text-decoration: none;
}

.msg_link:hover,
.msg_link:focus {
    border: 0;
    border-bottom: 1px dotted rgba(255,255,255,0.8);
    outline: 0;
}

.msg_link-copied {
    position: absolute;
    top: -4px;
    right: -2px;
    display: inline-block;
    background: black;
    border-radius: 4px;
    font-size: 12px;
    padding: 6px 8px;
    line-height: 1;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: .2s opacity ease-out;
}

.msg_link-copied.is-visible {
    opacity: 1;
}

#share-link-href {
    position: fixed;
    left: -10000px;
}

.msg_no-friends {
    margin: .8em 0 0;
    font-size: 11px;
}

.msg_status {
    margin: 0 0 .4em;
    font-size: 24px;
}

.msg_replay {
    margin: 0 0 .5em;
    font-size: 18px;
}

.s-show-modal .canvas {
    -webkit-filter: blur(6px);
    transition: .2s -webkit-filter ease-out;
}

.players {
    margin-top: 25px;
}

.player {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 170px;
    background: red;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(6,1,56,0.4);
    transform: scale(.85);
    transition: .1s transform ease-out;
    cursor: default;
}

.player__current {
    display: none;
    cursor: pointer;
    transform: none;
}

.player__current:hover {
    transform: scale(1.05);
}

.player_label__waiting {
    display: none;
}

.player + .player {
    margin-left: 10px;
}

.player_label {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 20px;
    font-size: 14px;
    transform: translateY(-50%);
    color: #000;
}

.player_you {
    display: block;
    margin-bottom: .2em;
    font-size: 16px;
}
